h1,h2,h3,ul,li{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
body{
    color: #666666;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
}
header{
    text-align: center;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    width: 400px;
    margin: 30px auto;
}

nav ul li{
    list-style: none;
    display: inline;
}
nav{
    text-align: center;
    margin-bottom: 30px;
}

nav li a{
    padding: 15px 30px;
    text-decoration: none;
    color: #666666;
}
nav li a:hover{
     border-bottom: 4px solid #d08047;
     color: #d08047;
}
a{
    transition: 0.3s;
    color: #666666;
}

a:hover{
    color: #d08047;
}

h2{
    color: #ffffff;
    background-color: #d08047;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section ul{
    list-style: none;
    margin-bottom: 20px;
    line-height: 2;
}


.point{
    color: #d08047;
}

footer{
    text-align: center;
    font-size: 13px;
}

.footer-under{
    font-size: 12px;
}
footer a{
    text-decoration: none;
}

footer a:hover{
    color: #d08047;
}

.look{
    background-color: #E5E5E5;
    border-radius: 4px;
    padding: 5px 10px;
}

.post{
    width: 265px;
    height: 265px;
    border-bottom: 1px solid #cccccc;
}

h4{
    color: #d08047;
    font-size: 16px;
    font-weight: normal;
}


.list{
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    display: block;
    overflow: hidden;

}

.post{
    float: left;
    padding-right: 50px;
    border-bottom: none;
}

div{
    display: block;
}
section{
    margin-bottom: 3em;
}